@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Josefin+Sans:ital,wght@1,200&display=swap");

/* font-family: 'Delicious Handrawn', cursive;
font-family: 'Josefin Sans', sans-serif; */

* {
  background-color: #cbe4de;
}

header {
  font-family: "Delicious Handrawn", cursive;
}

body,
footer {
  font-family: "Josefin Sans", sans-serif;
  font-size: --sizexs;
}

h1,
h3 {
  color: #0e8388;
}

h1 {
  font-size: 45px;
}

#lyrics {
  font-size: 25px;
  color: #0b0b0b;
}

p {
  color: #2e4f4f;
}

footer {
  color: #2e4f4f;
}

.song:hover {
  background-color: #57c5b6;
  color: azure;
}
